<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
    
    <link href="https://cdnjs.cloudﬂare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
     rel="stylesheet" />
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class= "logo" alt="" height="50%">

            <div class="form" action="#" method="GET">
                <input type="search">
                <button><i class="fa fa-search"></i></button>
            </div>

            <h2 class= "copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class= "left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar" style="list-style-type: none">
                <li><a href="#">Crea tu cuenta<i class="fas fa-id-card"></i></a></li>
                <li><a href="#">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-bag"></i></a></li>
            </ul>  
        </nav>
    </header>
    <div class="home-banner">
        <img src="/images/img-home-banner.jpg" class= "home-banner-img" alt="Home banner">
    </div>
    <form action="/crear-producto" method="POST" class="create-form">
        <div class="control-form">
            <label>Nombre del producto:</label>
            <input type="text" name="nombre" class="control">
        </div>
        <div class="control-form">
            <label>Precio:</label>
            <input type="number" name="price" placeholder="123.56"  class="control">
        </div>
        <div class="control-form">
            <label>Categoría</label>
            <select name="categoria"  class="control">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>
        <div class="control-form">
            <label>Ciudad</label>
            <select name="ciudad"  class="control">
                <option value="ba">Buenos Aires</option>
                <option value="ro">Rosario</option>
                <option value="me">Medoza</option>
            </select>
        </div>
        <div class="control-form">
            <label>Descripción:</label>
            <textarea name="descripcion"  class="control"></textarea>
        </div>
        <div class="control-form">
            <label>Está en oferta:</label>
            <input type="radio" name="enOferta">
        </div>

        <button type="reset" class="button-form">Borrar</button>
        <button type="submit" class="button-form">Guardar</button>
    </form>

    <main class="main">
        <section class="main-visit">
            <h4>Basado en tu última visita</h4>
            <article class="main-section-products">
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width=25%>
                <ul type="none">
                    <li class="price">$6.770</li>
                    <li class="discount">40% OFF</li>
                    <li class="description"><b>Cafetera Moulinex</b></li>
                </ul>
            </article>
            <article class="main-section-products">
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width=25%>
                <ul type="none">
                    <li class="price">$230.000</li>
                    <li class="discount">20% off</li>
                    <li class="description"><b>MacBook Pro 2019</b></li>
                </ul>
            </article>
            <article class="main-section-products">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width=25%>
                <ul type="none">
                    <li class="price">$70.500</li>
                    <li class="discount">10% off</li>
                    <li class="description"><b>Samsung Galaxy S10"</b></li>
                </ul>
            </article>
            <article class="main-section-products">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width=25%>
                <ul type="none">
                    <li class="price">$23.200</li>
                    <li class="discount">5% off</li>
                    <li class="description"><b>SmartTv Samsung 43"</b></li>
                </ul>
            </article>
        </section>
        <section class="main-visit">
            <h4>Sección de ofertas</h4>
            <article class="main-section-products">
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width=25%>
                <ul type="none">
                    <li class="price">$6.770</li>
                    <li class="discount">40% OFF</li>
                    <li class="description"><b>Cafetera Moulinex</b></li>
                </ul>
            </article>
            <article class="main-section-products">
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width=25%>
                <ul type="none">
                    <li class="price">$230.000</li>
                    <li class="discount">20% off</li>
                    <li class="description"><b>MacBook Pro 2019</b></li>
                </ul>
            </article>
            <article class="main-section-products">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width=25%>
                <ul type="none">
                    <li class="price">$70.500</li>
                    <li class="discount">10% off</li>
                    <li class="description"><b>Samsung Galaxy S10</b></li>
                </ul>
            </article>
            <article class="main-section-products">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width=25%>
                <ul type="none">
                    <li class="price">$23.200</li>
                    <li class="discount">5% off</li>
                    <li class="description"><b>SmartTv Samsung 43"</b></li>
                </ul>
            </article>
        </section>

    </main>

    <footer class="footer">
        <ul type="none">
            <li>
                <i class="fas fa-credit-card"></i>
                <b>Paga con tarjeta o en efectivo</b>
            </li>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
            <li>
                <i class="fas fa-gift"></i>
                <b>Envío gratis desde $ 2.500</b>
            </li>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
            <li>
                <i class="fas fa-user-shield"></i>
                <b>Seguridad, de principio a fin</b>
            </li>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
            <li>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</li>
        </ul>
    </footer>
</body>

</html>