<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link href="https://cdnjs.cloudﬂare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
     rel="stylesheet" />
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <form action="/registrarse" method="POST" class="form-register">
        <div class="control-form">
            <label>Nombre y apellido:</label>
            <input type="text" name="nombre" class="control">
        </div>
        <div class="control-form">
            <label>Nombre de usuari@</label>
            <input type="text" name="nombre" class="control">
        </div>
        <div class="control-form">
            <label>Fecha de nacimiento</label>
            <input type="date" name="date" value= "dd/mm/aaaa" class="control">
        </div>
        <div class="control-form">
            <label>Domicilio</label>
            <input type="text" name="nombre" class="control">
        </div>
        <div class="control-form">
            <label>Perfil de usuario:</label>
            <label>Vender</label>
            <input type="radio" name="perfil">
            <label>Comprar</label>
            <input type="radio" name="perfil">
        </div>
        <div class="control-form">
            <label>Categoría</label>
            <select name="categoria"  class="control">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Moda</option>
                <option value="indumentaria">Jugueterería</option>
            </select>
        </div>
        <div class="control-form">
            <label>Foto de usuario</label>
            <input type="file" name="photo" accept=".jpg">
        </div>
        <div class="control-form">
            <label>Precio:</label>
            <input type="number" name="price" placeholder="123.56"  class="control">
        </div>
        
        <div class="control-form">
            <label>Ciudad</label>
            <select name="ciudad"  class="control">
                <option value="ba">Buenos Aires</option>
                <option value="ro">Rosario</option>
                <option value="me">Medoza</option>
            </select>
        </div>
        <div class="control-form">
            <label>Descripción:</label>
            <textarea name="descripcion"  class="control"></textarea>
        </div>
        

        <button type="reset" class="button-form">Borrar</button>
        <button type="submit" class="button-form">Guardar</button>
    </form>
</body>
</html>