*{
    box-sizing: border-box;
}

body{
   font-family:'Roboto', sans-serif;
   background-size: 360px;
   background-color:#ebebeb ;
}

/* header */
.main-header{
    background-color:  #EAC926;
    padding: 15px;
}

.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo{
    width: 50%;
    padding: 10px;
}

.copy-header{
    font-size: 24px;
    margin: 0;
}
p{
    font-size: 12px;
}

h4{
    font-size: 24px;
    color:rgb(100, 100, 100);
}

.form-search{
    font-size: 12px;
    border-radius: 4px;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 25%;
    padding: 10px;
}

.main-navbar{
    display: none;
}
.main-navbar ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.burger-menu{
 background-color:#03264C ; 
 border-radius: 5px;  
 text-align: center;
 max-width: 30px;
 height: 30px;
 padding: 5px 0px;
 margin:auto;
 color: white;
 font-family: 16px;
 display: block;
 
}

.home-banner img{
    width: 100vw;
}

/* main */

.main .main-visit{
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    padding: 0;
    color: #666;
}

.discount{
    font-size: 16px;
    color: hsl(128, 52%, 47%);
    width: 70vw;
    text-align: left;
    padding-left: 3px;
}
.description{
    font-size: 16px; 
}
.price{
    font-size: 18px;
    width: 30vw; 
    text-align: right ;
}

.price-discount{
    display: flex;
    justify-content: space-evenly;
}
.main-visit, h4{
text-align: center;
}

.description{
    display:none;
}


.main-section-products{
    display:flex;
    flex-direction: column;
    border:#ebebeb solid;
    margin: 5px 0px 5px 0px;
    background-color: white;  
}

.main-section-products img{
    margin: 5% 0 5% 0;
    width: 100%;
}

.product-information{
   border-top: 1px solid #ebebeb; 
   margin: 15px;
   list-style: none;
   padding: 0;
   position: relative;
}

.main-section-products i{
    color:#39b54a;
    border: 1px solid #39b54a;
    border-radius: 50%;
    display: block;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    right: 20px;
    top: -15px;
}
 
/* footer */
.footer{
    display:flex;
    color: #666;
    justify-content: center;
    text-align: center;
    margin: 20px;
}
.footer ul{
    margin:0 0 5px 0;
    padding: 0;
}
footer li{
    margin:0 0 5px 0;
    padding: 0;
    text-align: center;
}
.footer p{
    margin:auto;
    text-align: center;
}
.footer i{
width: 2em;
color: #1259c3;
display: flex;
margin:auto;
justify-content: center;
align-items: center;
font-size: 25px;
padding:0px 10px 0px 10px;
}
/* register */
.control-form{
    margin-bottom: 20px;
    font-style: italic;
    padding: 10px;
}

.control-form input{
    width: 100%;
    padding: 10px;
}
.control-form label{
    margin-bottom: 5px;
    font-style: italic;
    display: flex;
    align-items: center;
}

.profile-options{
    width: 40%;
}


.button-form{
    background-color:#03264C;
    border: none;
    font-size: 18px;
    color:#ebebeb;
    padding: 5px 8px;
    border-radius: 5px;
}
@media(min-width: 481px){

    .logo{
        width: 30%;
    }

    .copy-header{
        width: 20%;
        text-align: right;
        font-size: 14px;
    }

    .burger-menu{
        display: none;
    }

    .main-navbar{
        display:flex;
        justify-content: space-between;
    }

    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }
    
    .main-navbar a{
        font-size: 12px;
        padding: 2px;
    }

/* main */
    .main .main-visit{
        flex-flow: row wrap;
    }
    .main-section-products{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 40%;
        margin: 10px;
    }
    .description{
        display:block;
    }
}

@media(min-width: 768px){
    .main-header-top-bar .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar{
        align-items: center;
    }

    .copy-header{
        margin: 0;
        max-width: 30%;
        font-size: 14px;
        font-weight: 400px;
        text-align: right;
    }
    .main-navbar{
        margin-top: 25px;
    }
    .main-navbar li{
        margin: 0 12px;
    }

    .main-navbar a{
        font-size: 14px;
    }

    .main .main-visit{
        flex-flow: row wrap;
    }
    .main-section-products{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 22%;
        margin: 10px;
    }
}